h1
{
    color:tan
}
h1:hover
{
    color:darkslategrey;
    font-size: 30pt;
}


a
{
    font-size: 24pt;
    padding-right: 30px;
    text-decoration: none; 
    font-family: verdana;
    color:brown;
    font-weight: 600;
}

a:hover
{
    color:cornflowerblue;
    background-color:darkblue;
}

.content
{
    text-align: justify;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.header
{
    width: 100%;
    background-color: darkslategray;
    padding-bottom: 30px;
}

.slider
{
    width: 100%;
    background-color: aquamarine;
}

.box1
{
    width: 25%;
    background-color: cornflowerblue;
    padding-bottom: 200px;
    float: right;
}
.box2
{
    width: 25%;
    background-color: dodgerblue;
    padding-bottom: 200px;
    float: right;
} 
.box3
{
    width: 25%;
    background-color: rgb(30, 203, 255);
    padding-bottom: 200px;
    float: right;
}
.box4
{
    width: 25%;
    background-color: rgba(58, 160, 228, 0.856);
    padding-bottom: 200px;
    float: right;
}

table, tr, td, th
{
    border: 1px solid black;
    border-collapse: collapse;
}
td
{
    padding:10px;
}
tr
{
    background-color:yellow
}
tr:nth-child(odd)
{
    background-color: goldenrod;
}
th
{
    background-color: black;
    color:azure
}
tr:hover
{
    background-color:darkkhaki;
}